/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

main {
  font-family: "Source Code Pro", serif;
  font-size: 10px;
}

/* Larger font size for larger screens */
@media (min-width: 768px) {
  main {
    font-size: 10px;
  }
}

/* Even larger font size for very large screens */
@media (min-width: 1200px) {
  main {
    font-size: 20px;
  }
}

.home-page-separator {
  margin-top: 3rem;
}

.home-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-body {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.profile_pic {
  width: 40%;
  border: 5px solid #ce7e7e;
  border-radius: 50%;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the parent container */
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust width as needed */
}

.images img {
  max-width: 100%;
  height: auto; /* Ensure images scale properly */
}

.row {
  display: flex;
}

.photo-col {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
}

.name-col {
  flex: 50%;
  text-align: left;
}

.title {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5%;
}

.my-name {
  margin-bottom: 0;
}

.subcript {
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-title {
  margin-left: 3%;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
