@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

main {
    font-family: 'Libre Baskerville', serif;
    margin-left: 5%;
    margin-right: 5%;
}

.post-body {
    margin-left : 15%;
    margin-right:  15%;
}

.profile_pic {
    width: 200px;
    height: 200px;
    border: 5px solid #ce7e7e;
    border-radius: 50%;
}

.trackealo_img {
    width: 70%;
    text-align: center;
}

.row {
    display: flex;
}

.photo-col {
    flex:50%;
    text-align: end;
    margin-right: 5%;
}

.name-col {
    flex:50%;
    text-align: left;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.subcript {
    color: grey;
}